<!-- 1_header -->

<header class="header">
    <div class="header__wrapper">        
        <div class="main">
            <div class="header__pluses">
                <div class="pluses__var">
                    <div class="pluses__var__type">
                        <img class = "pluses__var__type__img" src="img/Vector_Smart_Object.png" alt="">
                        <span class="logo__name">Микоцин</span>
                    </div>
                    <div class="pluses__var__type">
                        <img class="pluses__var__type__img" src="img/Forma_1_copy.png" alt="">
                        <span class="pluses__var__type__descr">№1 Для избавления<br> от любого типа грибка</span>
                    </div>
                    <div class="pluses__var__type">
                        <img class="pluses__var__type__img" src="img/Forma_1_copy_2.png" alt="">
                        <span class="pluses__var__type__descr">Рекомендован<br> дерматологами</span>
                    </div>
                    <div class="pluses__var__type">
                        <img class="pluses__var__type__img" src="img/Shape_1.png" alt="">
                        <span class="pluses__var__type__descr">13000+ довольных<br> клиентов за 2018 год</span>
                    </div>
                </div>
            </div>
            <div class="checkout">
                <div class="leftside">
                    <h1 class="header__pluses__title">Комплексное<br> избавление<br>от грибка —<br>изнутри и снаружи </h1>
                    <div class="active__var">
                        <div class="active__var__type">
                            <img class="active__var__type__img" src="img/Ellipse.png" alt="">
                            <span class="active__var__type__descr">Комплекс Микоцин устраняет<br>зуд, неприятный запах<br> и возвращает эстетичный вид</span>
                        </div>
                        <div class="active__var__type">
                            <img class="active__var__type__img" src="img/Ellipse.png" alt="">
                            <span class="active__var__type__descr">Таблетки Микоцин<br> уничтожают все виды грибка<br> на ногтях и коже</span>
                        </div>
                        <div class="active__var__type">
                            <img class="active__var__type__img" src="img/Ellipse.png" alt="">
                            <span class="active__var__type__descr">Гель Микоцин<br> восстанавливает кожу<br> и создает на ней защитный<br> барьер</span>
                        </div>
                    </div>
                </div>
                <div class="rightside">
                    <div class="delivery">
                        <img class="delivery__img" src="img/Shape_2.png" alt="">
                        <span class="delivery__descr">Бесплатно</span>
                    </div>
                    <h3 class="rightside__title">Успейте заказать<br> со скидкой<br><span class="medium orange-textcolor">до 10.09.2018</span></h3>
                    <div class="price">
                        <div class="price-old">
                            <p class="old">старая цена</p>
                            <img src="img/Rectangle_21_copy.png" alt="">
                        </div>
                        <div class="price-new">
                            <p class="new">новая цена</p>
                            <img src="img/Rounded_Rectangle_4.png" alt="">
                        </div>
                    </div>
                    <form action="" class="rightside__form">
                            <input type="name" value="Имя" class = "form-style">
                            <input type="tel"  value="Телефон" class = "form-style form-style-tel">
                            <button class="rightside__button"><span style="line-height: 22px; font-size: 28px">Заказать</span><br> со скидкой</button>
                    </form>
                    <p class="leftovers">Осталось <span style="color: #9dbd39;" class="medium">10</span> упаковок<br> со скидкой</p>
                    <div class="protection">
                        <img src="img/Forma_1.png" alt="">
                        <p>Ваши данные защищены!</p>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</header>