<!-- 2_remedies -->

<section class="remedies">
    <div class="wrapper">
        <img class = "vector" src="img/Vector_Smart_Object.png" alt="vector">
        <h1 class="remedies__title">Грибок – это опасная инфекция</h1>
        <p class="remedies__descr">которая угрожает вам и вашим близким, ведь с каждым днем грибок приводит к:</p>
        <div class="dangers">
            <div class="dangers__var">
                <div class="dangers__var__pict">
                    <img src="img/1.png" alt="">
                    <span>Сложным<br>формам<br>аллергии</span>  
                </div>
                <div class="dangers__line"></div>
                <p class="dangers__descr">Может появится сильная реакция<br> на на привычную пищу, одежду,<br> средства гигиены</p>
            </div>
            <div class="dangers__var">
                <div class="dangers__var__pict">
                    <img src="img/2.png" alt="">
                    <span>Потере ногтя<br> и ампутации<br> пальца</span>  
                </div>
                <div class="dangers__line"></div>
                <p class="dangers__descr">После полного разрушения ногтя<br> грибок распространяется на палец,<br>что приводит к его ампутации</p>
            </div>
            <div class="dangers__var">
                <div class="dangers__var__pict">
                    <img src="img/3.png" alt="">
                    <span>Тяжелому<br> поражению<br> внутренних<br> органов</span>  
                </div>
                <div class="dangers__line"></div>
                <p class="dangers__descr">Может привести к повреждениям<br> мозга, слепоте, отказу печени, почек<br> и сердца</p>
            </div>
        </div>
        <div class="statistic">
            <h3 class="statistic__title">СТАТИСТИКА:</h3>
            <p class="statistic__descr">Каждые 60 секунд врачи диагностируют опасные поражения внутренних органов, вызванные грибком, у 1-го пациент</p>
        </div>
    </div>
</section>