<!-- 3_ineffective -->

<section class="ineffective">
    <div class="wrapper">
        <img class = "vector" src="img/Vector_Smart_Object.png" alt="vector">
        <h1 class="ineffective__title">Почему большинство средств против грибка малоэффективны </h1>
        <div class="medicines">
            <div class="medicines__var">
                <h2 class="medicines__var__title">Чудо-средства</h2>
                <p class="medicines__var__art">Обещают, что избавят от грибка меньше, чем за месяц, хотя это невозможно. </p>
                <p class="orange_but">Но</p>
                <p class="medicines__var__descr">Ноготь – это роговой слой кожи. Он не имеет живых клеток. Часть ногтя, которая уже поражена
                    грибком, не может выздороветь до полного его отрастания. Единственный способ вылечить грибок – 
                    <span class="medium">подавлять его распространение все время, пока ноготь не отрастет заново.</span></p>
            </div>
            <div class="medicines__var">
                <h2 class="medicines__var__title">Наружные средства</h2>
                <p class="medicines__var__art">Способны устранить внешние проявления грибка.<br><span class="medicines__var__art-add">(кремы, лаки, пластыри)</span></p>
                <p class="orange_but">Но</p>
                <p class="medicines__var__descr">Очаг заражения находится под ногтевой пластиной, а наружные средства  не способны 
                    его достичь - они действуют только на на верхнем слое ногтя, поэтому <span class="medium">не 
                    способны избавить от грибка.</span> Для повышения их эффективности рекомендуется 
                    <span class="medium">спиливать ноготь полностью,</span> но это больно, некрасиво
                    и совершенно <span class="medium">не дает гарантий выздоровления.</span></p>
            </div>
            <div class="medicines__var">
                <h2 class="medicines__var__title">Внутренние средства</h2>
                <p class="medicines__var__art">Убивают грибковую инфекцию в организме.<br><span class="medicines__var__art-add">(таблетки, саше, капли)</span></p>
                <p class="orange_but">Но</p>
                <p class="medicines__var__descr"><span class="medium">Могут подействовать только
                    при длительном использовании</span> (6 - 8 месяцев). За это время внутренние средства в 93%
                    случаев наносят <span class="medium">серьезный ущерб печени,</span> 
                    вызывают сыпь, отеки, диарею, рвоту. К тому же, каждое средство эффективно только против одной группы
                    грибка из 4000 видов.</p>
            </div>    
        </div>
        <div class="conclusion">
            <h3 class="conclusion__title">ВЫВОД:</h3>
            <p class="conclusion__descr">Даже если вы используете наружные и внутренние средства одновременно, это <span class="medium">
                не гарантирует избавления от грибка:</span> они могут конфликтовать между собой по составу и блокировать действие
                друг друга или быть неэффективными против вашего типа грибка.</p>
        </div>
    </div>
</section>
