<!-- 4_selection -->

<section class="selection">
    <div class="wrapper">
        <img class = "vector" src="img/Vector_Smart_Object.png" alt="">
        <h1 class="selection__title">Почему таблетки <span class="orange-textcolor">Микоцин</span> от грибка так эффективны?</h1>
        <p class="selection__descr">Другие средства не дают полную защиту от грибковых инфекций и могут быть опасны</p>
        <div class="difference">
            <div class="difference__var">
                <h2 class="difference__var__title">Кремы и мази</h2>
                <p class="difference__var__descr"><span class="medium">Не лечат грибок, потому что не проникают в ногтевую пластину. </span>
                    Только временно избавляют от симптомов инфекций. Могут вызвать сильную аллергию и раздражения на коже.</p>
            </div>
            <div class="difference__var">
                <h2 class="difference__var__title">Народные методы</h2>
                <p class="difference__var__descr">Помогают только в редких случаях. <span class="medium">Могут причинить вред коже 
                        и ногтям.</span> Не предотвращают повторные заражения грибком.</p>
            </div>
            <div class="difference__var">
                <h2 class="difference__var__title">Таблетки</h2>
                <p class="difference__var__descr"><span class="medium">Действуют против всех видов грибков.</span> Быстро снимают 
                    неприятные симптомы и уничтожают инфекцию изнутри вне зависимости от области заражения грибком. Надолго 
                    защищают от повторных заражений.</p>
            </div>
        </div>
        <div class="question">
            <p>Зачем лечить сложнее, дольше и дороже, если есть <span class="orange-textcolor">Микоцин?</span></p>
        </div>
    </div>
</section>