<!-- 5_application -->

<section class="application">
    <div class="wrapper">
        <img class = "vector" src="img/Vector_Smart_Object.png" alt="">
        <h1 class="application__title">Как применять <span class="orange-textcolor">Микоцин</span></h1>
        <div class="rule">
            <div class="rule__img">
                <img src="img/Layer_39.png" alt="">
            </div>
            <div class="rule__art">
                <div class="rule__art__stage">
                    <img class="rule__art__img" src="img/Ellipse_5.1.png" alt="">
                    <div class="rule__art__descr">
                        <div class="rule__art__line"></div>
                        <p >Принимать по 1 таблетке утром и вечером</p>
                    </div>
                </div>
                <div class="rule__art__stage">
                    <img class="rule__art__img" src="img/Ellipse_5.2.png" alt="">
                    <div class="rule__art__descr">
                        <div class="rule__art__line"></div>
                        <p >Запивать стаканом воды</p>
                    </div>
                </div>
                <div class="rule__art__stage">
                    <img class="rule__art__img" src="img/Ellipse_5.3.png" alt="">
                    <div class="rule__art__descr">
                        <div class="rule__art__line"></div>
                        <p >Курс – от 30 дней</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>